:root {
    --theme-deafult: #ff4c3b;
    // This gradient color only for gym layout
    --theme-gradient1: #01effc;
    --theme-gradient2: #485ff2;
  }


@import './bootstrap-scss/bootstrap.scss';
@import '../scss/landing_page.scss';
@import '../scss/animate.scss';
@import './style.css';
// @import '~react-input-range/lib/css/index.css';
// @import '~react-toastify/dist/ReactToastify.css';
@import 'font-awesome.scss';
@import './theme/variables.scss';
@import './theme/_style.scss';
@import './theme/_menu.scss';
@import './theme/_responsive.scss';

@import './theme/_rtl.scss';
@import './theme/_dark.scss';

@import "./slick.scss";
@import "./slick-theme.scss";


